@page
@using Weather.Web.Pages
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Nikolai Norman Andersen<br />
    <a href="nikolai.andersen@bekk.no" class="mailto">nikolai.andersen@bekk.no</a>
</address>