@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        @foreach (var post in Model.Blogposts)
            {<li>@post.Title</li>}
    </div>
</div>